<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chapter14"
        tools:targetApi="31">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity
            android:name=".ui.deeplink.DeepLinkActivity"
            android:exported="true"
            android:label="@string/title_dlink">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/filter_view_http_example">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.thantrieu.com"
                    android:pathPrefix="/deeplink"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/filter_view_http_example">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="net.braniumacademy.app"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="true"
            android:parentActivityName=".ui.MainActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.braniumacademy.net"
                    android:pathPrefix="/about"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.braniumacademy.net"
                    android:pathPrefix="/home"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>